@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    background-color: #ebebeb;
}

.change-password-popup {
    padding: 30px;
    box-sizing: border-box;
    background-color: #fff;
    border-radius: 15px;
    width: 400px;
    position: fixed;
    top: 50%;
    left: 55%;
    z-index: 99999;
    transform: translate(-50%, -50%);
    display: none;
}

.change-password-popup h2 {
    font-size: 24px;
    line-height: 30px;
    font-weight: 500;
    margin: 0 0 30px;
    color: #000;
    text-align: center;
}

.form-block {
    margin-bottom: 15px;
}

.change-password-popup input[type="text"], .change-password-popup input[type="email"], .change-password-popup input[type="password"] {
    width: 100%;
    font-size: 13px;
    line-height: 18px;
    padding: 11px 15px;
    color: #000;
    background-color: #F7F7F7;
    border: 1px solid #D0D0D0;
    border-radius: 7px;
    box-sizing: border-box;
    outline: none;
}
.change-password-popup input[type="text"]:focus, .change-password-popup input[type="email"]:focus, .change-password-popup input[type="password"]:focus {
    background-color: #fff;
    border-color: #000;
}


.change-email-popup {
    padding: 30px;
    box-sizing: border-box;
    background-color: #fff;
    border-radius: 15px;
    width: 400px;
    position: fixed;
    top: 50%;
    left: 55%;
    z-index: 99999;
    transform: translate(-50%, -50%);
    display: none;
}

.change-email-popup h2 {
    font-size: 24px;
    line-height: 30px;
    font-weight: 500;
    margin: 0 0 30px;
    color: #000;
    text-align: center;
}

.change-email-popup input[type="text"], .change-email-popup input[type="email"], .change-email-popup input[type="password"] {
    width: 100%;
    font-size: 13px;
    line-height: 18px;
    padding: 11px 15px;
    color: #000;
    background-color: #F7F7F7;
    border: 1px solid #D0D0D0;
    border-radius: 7px;
    box-sizing: border-box;
    outline: none;
}
.change-email-popup input[type="text"]:focus, .change-email-popup input[type="email"]:focus, .change-email-popupinput[type="password"]:focus {
    background-color: #fff;
    border-color: #000;
}

.logout-popup {
  padding: 30px;
  box-sizing: border-box;
  background-color: #fff;
  border-radius: 15px;
  width: 400px;
  position: fixed;
  top: 50%;
  left: 55%;
  z-index: 99999;
  transform: translate(-50%, -50%);
  display: none;
}

.logout-popup p {
  font-size: 15px;
  line-height: 24px;
  margin: 0 0 35px;
  color: #000;
  text-align: center;
}


.form-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    width: 100%;
}

.cancel-btn {
    width: 87px;
    border-radius: 30px;
    padding: 11px 15px;
    border: 1px solid #777777;
    margin: 0 10px;
    font-size: 12px;
    line-height: 16px;
    color: #000;
    text-decoration: none;
    background: none;
    cursor: pointer;
}

.outline-btn {
    margin: 0 10px;
    font-size: 12px;
    line-height: 16px;
    text-decoration: none;
    border: 1px solid #2D3393;
    background-color: #2D3393;
    color: #fff;
    /* padding: 11px 35px; */
    border-radius: 30px;
    /* width:87px; */
}

.submit-btn{
    margin: 0 10px;
    font-size: 12px;
    line-height: 16px;
    color: #fff;
    text-decoration: none;
    border: none;
    padding: 11px 15px;
    background-color: #2d3393;
    border: 1px solid #2d3393;
    border-radius: 30px;
    cursor: pointer;
    width: 87px;
}
.blue-btn {
    margin: 0 10px;
    font-size: 15px;
    line-height: 15px;
    color: #fff;
    text-decoration: none;
    border: none;
    padding: 11px 15px;
    background-color: #2d3393;
    border: 1px solid #2d3393;
    border-radius: 30px;
    cursor: pointer;
    width: 97px;
}

.blk-bg {
    background: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 6;
    width: 100%;
    height: 100%;
    display: none;
}

.error-chage-pass{
	margin: 20px 0;
color: #f00;
text-align: centre;
font-size: 14px;
line-height: 20px;
display:none;
}

.success-chage-pass{
	margin: 20px 0;
color: #3BA750;
text-align: centre;
font-size: 14px;
line-height: 20px;
display:none;
}

.error-chage-email{
	margin: 20px 0;
color: #f00;
text-align: centre;
font-size: 14px;
line-height: 20px;
display:none;
}

.success-chage-email{
	margin: 20px 0;
color: #3BA750;
text-align: centre;
font-size: 14px;
line-height: 20px;
display:none;
}