#data-time{text-align: right; color: #777777; font-size: 10px; line-height: 20px;}
.dashboard-section{display: flex; flex-wrap: wrap; margin: 0 -10px 20px;}
.dashboard-block{width: calc(50% - 20px); margin: 0 10px; padding: 30px; background-color: #fff; border: 1px solid #DCDCDC; border-radius: 10px; box-sizing: border-box;}
.dashboard-block.half{width: calc(50% - 20px); overflow: visible;}
.dashboard-block.ir-col-3{width: calc(50% - 20px); overflow: visible;position: relative;}
.dashboard-block.ir-w-40{width: calc(50% - 20px); overflow: visible;}
.dashboard-block.ir-w-60{width: calc(50% - 20px); overflow: visible;}
.ir-sm {
    position: absolute;
    bottom: 15px;
    right: 15px;
}
.dashboard-block h3{text-transform: uppercase; margin: 0 0 30px; font-weight: 500; font-size: 15px; line-height: 20px; letter-spacing: 0.05em;}
.overview-section{display: flex; flex-wrap: wrap;}
/* .dashboard-block .overview-data{width:600px; margin: 0 -5px -8px; display: flex; flex-wrap: wrap;} */
.dashboard-block .overview-data{width:100%; margin: 0 -5px -8px; display: flex; flex-wrap: wrap;}
/* .dashboard-block .overview-data-block{width: calc(33.33% - 20px); margin: 0 8px 20px; background-color: #fff; border: 1px solid #DCDCDC; border-radius: 10px; padding: 20px 8px 20px 8px; box-sizing: border-box;} */
.dashboard-block .overview-data-block{cursor: pointer;  width:calc(20% - 16px); margin: 0 8px 20px; background-color: #fff; overflow: hidden; border: 1px solid #DCDCDC; border-radius: 10px; padding: 20px 8px 0px 8px; box-sizing: border-box;}
/* .dashboard-block .overview-layout{width: calc(100% - 600px - 90px); margin-left: 40px;} */
.overview-data-block img{width: 100%;}
.dashboard-block .overview-layout{width:100%;display:flex;justify-content: center;}
/* .overview-data-block h4{display: flex; flex-wrap: wrap; align-items: center; font-weight: 500; font-size: 14px; line-height: 20px; color: #000;margin-top: 0px;} */
.overview-data-block h4{display: flex; flex-wrap: wrap; align-items: center; font-weight: 400;    margin-bottom: 0; font-size: 14px; line-height: 20px; color: #000;margin-top: 0px;}
.overview-data-block h4 img{margin-right: 10px;}
/* .overview-data-block p{font-weight: 500; font-size: 36px; line-height: 36px; margin: 0;} */
.overview-data-block p{font-family: Helvetica, Arial, sans-serif;font-weight: 900;font-size: 24px; margin: 0;margin-bottom: 10px;}
.action-points .overview-data-block {margin-bottom: 0;padding: 20px 8px;}
.action-points .overview-data{width: 100%;}
.action-points .overview-data .overview-data-block{width: calc(20% - 20px);}
.action-points .overview-data .overview-data-block:nth-child(1){background-color: #E8EAFF;}
.action-points .overview-data .overview-data-block:nth-child(2){background-color: #FFEAE3;}
.action-points .overview-data .overview-data-block:nth-child(3){background-color: #F6ECFF;}
.action-points .overview-data .overview-data-block:nth-child(4){background-color: #D9FFEB;}
.action-points .overview-data .overview-data-block:nth-child(5){background-color: #FFF6D7;}
.action-points .overview-data .overview-data-block .overview-data-img {width: 50px;margin-left: auto;}
.action-points .overview-data .overview-data-block {display: flex;}
.dashboard-layout-full{margin: 0px auto; position: relative;}
.dashboard-layout-full::after{content: ''; position: absolute; bottom: 0; right: 0; width: 80px; background-color: #fff;}
.canvasjs-chart-toolbar, .canvasjs-chart-credit{display: none !important;}

.pyramid_wrap {width: 80%; height: 270px; text-align: center;}
.ir-pyaramid{display: flex;padding-top: 30px;flex-wrap: wrap;}
.category_one,
.category_two,
.category_three,
.category_four,
.category_five { position: relative; margin: 0 auto; display: flex; justify-content: center; align-items: center;}

.category_one:before,
.category_one:after,
.category_two:before,
.category_two:after,
.category_three:before,
.category_three:after,
.category_four:before,
.category_four:after,
.category_five:before,
.category_five:after { position: absolute; top: 0; display: block; width: 30px; height: 100%; content: "";}

.category_one:before,
.category_two:before,
.category_three:before,
.category_four:before,
.category_five:before { top: 0; left: -25px; transform: skew(35deg); width: 55px; height: 50px;}

.category_one:after,
.category_two:after,
.category_three:after,
.category_four:after,
.category_five:after { top: 0; right: -25px; transform: skew(-35deg); width: 55px; height: 50px;}

.category_one {   width: 269px;   height: 50px;   background: #008ffb;
}

.category_one:before,
.category_one:after { background: #008ffb;}
/* .category_one:after{right: -23px !important;}
.category_one:before{left: -27px !important;} */

.category_two {   width: 199px;   height: 50px;   background: #00a76d;}
.category_two:before,
.category_two:after { background: #00a76d;}


.category_three { width: 129px; height: 50px; background: #feb019;}
.category_three:before,
.category_three:after { background: #feb019;}


.category_four {   width: 59px;   height: 50px;   background: #ff4560;}
.category_four:before,
.category_four:after { background: #ff4560;}

.category_five .value{padding-top: 12px;}
.category_five .value:after { position: absolute; z-index: -1; top: 0; left: 50%; transform: translateX(-50%); content: ""; display: block; width: 0; height: 0; border-style: solid; border-width: 50px 37px 0px 37px; border-color: #775dd0 transparent transparent transparent;}
.value { margin: 0; position: relative; z-index: 3; color: #fff; font-size: 14px; font-weight: normal; line-height: 20px;}

/* .pyramid_legend_pointers{display: flex;flex-direction: column; justify-content: center;margin-left: 55px;} */
.pyramid_legend_pointers{display: flex;flex-direction: column; justify-content: center;margin: 0 auto;width: 20%;}
/* .pyramid_legend_pointers span{font-size: 10px; line-height: 30px; color: #777; position: relative; margin: 0 5px; padding-left: 14px;} */
.pyramid_legend_pointers span{    color: rgb(55, 61, 63);position: relative; margin:5px; padding-left: 14px;font-size: 12px;font-weight: 400;font-family: Helvetica, Arial, sans-serif;}
.pyramid_legend_pointers span::before{content: ''; width: 10px; height: 10px; border-radius: 10px; position: absolute; left: 0; top: 50%; transform: translate(0, -50%);}
.pyramid_legend_pointers span:nth-child(1):before{background-color:#008ffb;}
.pyramid_legend_pointers span:nth-child(2):before{background-color: #00a76d;}
.pyramid_legend_pointers span:nth-child(3):before{background-color: #feb019;}
.pyramid_legend_pointers span:nth-child(4):before{background-color: #ff4560;}
.pyramid_legend_pointers span:nth-child(5):before{background-color: #775dd0;}

@media (max-width: 767px) {
    .dashboard-section{display: block;}
    .dashboard-block{width: calc(100% - 20px);}
    .dashboard-block.half{width: calc(100% - 20px);margin-bottom: 10px;}
    .dashboard-block.ir-col-3{width: calc(100% - 20px);margin-bottom: 10px;}
    .dashboard-block.ir-w-40{width: calc(100% - 20px);margin-bottom: 10px;}
    .dashboard-block.ir-w-60{width: calc(100% - 20px);margin-bottom: 10px;}
    .dashboard-block .pyramid_wrap{width:100%;}
    .dashboard-block .pyramid_wrap .category_one{width: 238px;}
    .dashboard-block .pyramid_wrap .category_two{width: 168px;}
    .dashboard-block .pyramid_wrap .category_three{width: 98px;}
    .dashboard-block .pyramid_wrap .category_four{width: 30px;}
    .dashboard-block .pyramid_wrap .category_four:after {width: 42px;height: 47px;}
    .dashboard-block .pyramid_wrap .category_four:before {width: 42px;height: 47px;}
    .dashboard-block .pyramid_wrap .category_five{margin-top: -4px;margin-left: 1px;}
    .dashboard-block .pyramid_wrap .category_five .value {padding-top: 4px;}
    .dashboard-block .pyramid_wrap .category_five .value:after{border-width: 37px 24px 0px 24px;}
    .dashboard-block .pyramid_legend_pointers{width:100%;flex-direction: row;flex-wrap: wrap;}
}