.filters{position: relative;}
.filters .filter{position: relative; font-size: 15px; line-height: 19px; font-weight: 500; color: #555555; padding-right: 30px; margin-right: 0px;}
/* .filters .filter::after{content: ''; width: 1px; height: 20px; background-color: #707070; position: absolute; top: 50%; right: 0; transform: translate(0, -50%);}
.filters .filter:last-child{padding: 0; margin: 0;}
.filters .filter:last-child::after{display: none;} */
.filters .filter input[type="text"]{padding: 10px 10px 10px 45px; width: 190px; box-sizing: border-box; border: none; font-weight: 500; font-size: 15px; line-height: 16px; color: #000; border-radius: 5px; background: url('../img/search-icn.svg') no-repeat 10px center #fff;}
.filters .filter select{padding: 10px; width: 130px; box-sizing: border-box; border: none; font-weight: 500; font-size: 15px; line-height: 16px; color: #000; border-radius: 5px; background: #fff; margin-left: 10px;}
.gray-btn{text-decoration: none; display: inline-block; padding: 7px 20px; font-weight: 500; font-size: 13px; line-height: 20px; color: #2D3393; border-radius: 20px; border: 2px solid #fff; background-color: #fff; cursor: pointer;}
.gray-btn:hover{background: #2D3393; border-color: #2D3393; color: #fff;}
.search-tdm{background: url(/img/search-icn.svg) no-repeat 15px center #fff; padding-left: 40px;}
.search-tdm:hover{background: url(/img/search-icn-white.svg) no-repeat 15px center #2D3393;}
.edit-tdm{background: url(/img/icn04-color.svg) no-repeat 15px 8px #fff; padding-left: 40px;}
.edit-tdm:hover{background: url(/img/icn04.svg) no-repeat 15px 8px #2D3393;}
.outline-btn-export{text-decoration: none; display: inline-block; padding: 7px 20px; font-weight: 500; font-size: 13px; line-height: 20px; color: #808080; border-radius: 20px; border: 2px solid #808080; cursor: pointer;}
.outline-btn-export:hover{background: #2D3393; color: #fff; border-color: #2D3393;}
.export-tdm{position: absolute; top: 0; right: 0;}
.mail-a-key{filter: grayscale(1); cursor: pointer;}
.mail-a-key.active{filter: grayscale(0);}
.table-date{overflow-x: auto; border: 1px solid #E2E2E2; border-radius: 10px;}
.table-date table{border-radius: 10px; overflow: hidden; position: relative;}
.table-date table tr:first-child{background: #F4F7FB;}
.table-date table tr{background: #F4F7FB;}
.table-date table tr:nth-child(2n){background: #fff;}
.table-date table tr th{background: #2D3393; position: relative;}
.table-date table tr th span{display: flex; justify-content: space-between; margin: 0 5px; color: #333333; margin: 16px 5px; position: relative;}
.table-date table tr thead span{border: none !important;}
.table-date ::placeholder {color: #fff; opacity: 1;}
.table-date :-ms-input-placeholder {color: #fff;}
.table-date ::-ms-input-placeholder {color: #fff;}
.table-date table tr th span em, .table-date table tr th input[type="text"], .table-date table tfoot tr input{font-style: normal; display: block; height: 14px; overflow: hidden; padding-right: 12px; width: 100%; box-sizing: border-box; text-align: left; color: #fff; background: none; border: none; outline: none;  padding: 5px 7px; border: 1px solid #D9E3EF; border-radius: 5px; font-weight: 600; font-size: 13px; line-height: 12px; display: block; height: 26px;}
.table-date table tr th span img{position: absolute; top: 0px; right: 0px; margin-left: 5px; filter: brightness(0) invert(1); z-index: 2; cursor: pointer;}
.table-date table tr th input[type="text"]{position: absolute; top: -42px; left: 5px; width: calc(100% - 25px);}
.table-date table tr th:first-child span{margin-left: 10px;}
.table-date table tr th:last-child span{margin-right: 10px;}
.table-date table tr td{padding: 20px 10px; text-align: center; font-size: 13px; line-height: 12px; color: #333333; font-weight: 500; border-bottom: 1px solid #F4F7FB; border-right: 1px solid #D6DFEB;}
.table-date table tr td .btn{font-size: 11px; line-height: 14px; padding: 3px 12px 4px; color: #A5A5A5; background: #E2E2E2; display: inline-block; text-decoration: none; border-radius: 10px;}
.table-date table tr td .btn.active{background: #45B058; color: #fff;}
.dataTables_length, #data_filter, #data_info, #data_paginate{display: none !important;}
.table-date table tr td:nth-child(2), .table-date table tr td:nth-child(3), .table-date table tr td:nth-child(4), .table-date table tr td:nth-child(5), .table-date table tr td:nth-child(6), .table-date table tr td:nth-child(12){text-align: left;}
.table-date table{width: 1430px;}
.table-date table tr th:nth-child(1){width: 95px !important;}
.table-date table tr th:nth-child(2){width: 150px !important;}
.table-date table tr th:nth-child(3){width: 150px !important;}
.table-date table tr th:nth-child(4){width: 150px !important;}
.table-date table tr th:nth-child(5){width: 150px !important;}
.table-date table tr th:nth-child(6){width: 220px !important;}
.table-date table tr th:nth-child(7){width: 150px !important;}
.table-date table tr th:nth-child(8){width: 170px !important;}
.table-date table tr th:nth-child(9){width: 250px !important;}
.table-date table tr th:nth-child(10){width: 170px !important;}
.table-date table tr th:nth-child(11){width: 120px !important;}
.sorting{height: 58px;}

@media (min-width: 992px){
    .filters{margin: 50px 0 30px; display: flex; align-items: center;}
    .filters .filter ul{right: 0;}
    .filters .filter ul li:hover{background: #F0F9FF;}
}

.communications-popup{padding: 30px; box-sizing: border-box; background-color: #fff; border-radius: 15px; width: 1080px; position: fixed; top: 50%; left: 50%; z-index: 7; transform: translate(-50%, -50%); display: none;}
.communications-popup h3{margin: 0 0 30px; text-align: center; font-weight: 500; font-size: 24px; line-height: 32px; color: #000;}


.tdm-popup{padding: 30px; box-sizing: border-box; background-color: #fff; border-radius: 15px; width: 500px; position: fixed; top: 50%; left: 50%; z-index: 7; transform: translate(-50%, -50%); display: none;}
.tdm-popup p{font-size: 15px; line-height: 24px; margin: 0 0 15px; color: #000; text-align: center;}
.tdm-popup h2{font-size: 24px; line-height: 30px; font-weight: 500; margin: 0 0 30px; color: #2D3393; text-align: center;}

.popup-form .form-section{display: flex; flex-wrap: wrap; margin: 0 -10px;}
.popup-form .form-section .form-block{width: calc(50% - 20px); margin: 0 10px 20px;}
.popup-form .form-section .form-block.full-width{width: calc(100% - 20px); margin: 0 10px 20px;}
.popup-form .form-section .form-block input[type="text"], .popup-form .form-section .form-block input[type="email"], .popup-form .form-section .form-block input[type="number"], .popup-form .form-section .form-block select{width: 100%; box-sizing: border-box; background-color: #F7F7F7; border: 1px solid #D0D0D0; border-radius: 7px; padding: 11px 15px; font-weight: 400; font-size: 13px; line-height: 18px; color: #333;}
.form-button{display: flex; justify-content: center; align-items: center; margin-top: 30px; width: 100%;}

.add-dealer{background-color: #ddd; text-align: center; padding: 20px; border-radius: 0 0 15px 15px; margin: 30px -30px -30px}
.add-dealer .btn{text-decoration: none; color: #2D3393; border: 2px solid #2D3393; padding: 7px 15px; display: inline-block; font-weight: 500; font-size: 13px; line-height: 16px; border-radius: 20px;}
.add-dealer .btn:hover{background-color: #2D3393; color: #fff;}

.blk-bg{background: rgba(0,0,0,0.8); position: fixed; top: 0; left: 0; z-index: 6; width: 100%; height: 100%; display: none;}