.table-date{margin-bottom: 50px; border-radius: 10px; position: relative;}
.table-date table{position: relative; table-layout: auto; margin: 0 !important}
.dataTables_scrollHead table{border-radius: 10px 10px 0 0;}
.table-date table tr:first-child{background: #F4F7FB !important;}
.table-date table tr, .table-date table tr td{background: #F4F7FB !important;}
.table-date table tr:nth-child(2n), .table-date table tr:nth-child(2n) td{background: #fff !important;}
.table-date table tr th{background: #2D3393; position: relative; padding-top: 15px; padding-bottom: 15px;}
.table-date table tr th::before{content: '' !important; width: 7px !important; height: 4px !important; background: url('../img/filter-icn.svg') no-repeat left top !important; opacity: 1 !important;}
.table-date table tr th::after{display: none !important;}
.table-date table tr th span{display: flex; justify-content: space-between; color: #333333; position: absolute; top: 50%; right: 10px;}
.table-date table tr thead span{border: none !important;}
.table-date ::placeholder {color: #fff; opacity: 1;}
.table-date :-ms-input-placeholder {color: #fff;}
.table-date ::-ms-input-placeholder {color: #fff;}
.table-date table tr td{padding-top: 15px; padding-bottom: 15px; font-size: 13px; line-height: 12px; font-weight: 500;}
.sorting_1{box-shadow: none !important;}
.table-date table tr th em, .table-date table tr th input[type="text"], .table-date table tfoot tr input{font-style: normal; display: block; height: 14px; overflow: hidden; padding-right: 12px; width: 100%; box-sizing: border-box; text-align: left; color: #fff; background: none; border: none; outline: none;  padding: 5px 7px; border: 1px solid #D9E3EF; border-radius: 5px;  font-size: 13px; line-height: 12px; display: block; height: 26px;}
.table-date table tr th input[type="text"]{background-color: #2D3393; position: relative; margin-top: -26px; z-index: 0;}
.table-date table tr td .btn{font-size: 11px; line-height: 14px;padding: 5px 15px 4px; color: #A5A5A5; background: #E2E2E2; display: inline-block; text-decoration: none; border-radius: 10px;box-sizing: border-box; border: none; width: 80px;}
input.btn.btn-sm.btn-dark:hover{background-color: #2D3393;color: #fff;}
.table-date table tr td .btn.active{background: #45B058; color: #fff;}
/* #data_info, #data_filter, #data_length{} */
#data_wrapper{position: relative;}
div#data_wrapper {min-height: calc(100vh - 226px);}
#data_next, .paginate_button.next {width:90px !important;}
#data_paginate, .dataTables_paginate.paging_simple_numbers{margin: 15px 0 0; width: 100%; text-align: center;}
#data_paginate a, .dataTables_paginate.paging_simple_numbers a{margin-left: 20px;text-decoration: none;display: inline-block;padding: 7px 20px;font-size: 13px;line-height: 20px;color: #fff !important;border-radius: 20px;border: none;background-color: #2D3393;cursor: pointer}
#data_paginate a:hover, .dataTables_paginate.paging_simple_numbers a:hover { background-color: #2D3393 !important;background:linear-gradient(to bottom, #2D3393 0%, rgb(40, 45, 132) 100%);}
a.paginate_button.current{background:rgb(193 193 193) !important;}
/* #data_paginate a.disabled, #data_paginate a{background-color: #2D3393 !important;} */
/* #data_paginate a{background-color: #2D3393;padding: 7px; font-size: 13px; line-height: 16px; color: #fff; border: 1px solid #2D3393; border-radius: 4px; display: inline-block; margin: 0 4px; min-width: 20px; cursor: pointer; opacity: 0.8;} */
/* #data_paginate a:hover, #data_paginate a.current{opacity: 1; color: #fff !important;} */
/* a#data_previous:hover{ */
    /* color: #2D3393 !important; */
    /* border: 1px solid #2D3393 !important;} */
/* a#data_next:hover{ */
    /* background-color: #2D3393; */
    /* color: #2D3393 !important; */
    /* border: 1px solid #2D3393 !important;} */
    /* .paginate_button .previous.disabled{color: white !important;}
    .paginate_button .next.disabled{color: white !important;} */
    /* .dataTables_wrapper .dataTables_paginate .paginate_button:hover{background-color: #2D3393 !important;} */
    /* #data_paginate a.disabled, #data_paginate a{color: #fff !important;} */
    /* #data_paginate a.disabled, #data_paginate a.disabled{color: #fff !important;} */
/* #data_paginate a.disabled, #data_paginate a.disabled:hover{color: #2D3393 !important; cursor: default;width: 90px;} */
/* .table-date ::-webkit-scrollbar {-webkit-appearance: none; width: 7px; height: 7px;} */
/* .table-date ::-webkit-scrollbar {-webkit-appearance: none;} */
.dataTables_scroll.dtfc-has-left {padding: 5px 0px 0px 0px;}
.table-date ::-webkit-scrollbar-thumb {border-radius: 2px; background-color: rgba(0, 0, 0, .5); -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);}
.add-remove-columns{position: absolute; right: 0; top: -45px; z-index: 1;}
.add-remove-columns span{display: inline-block; padding: 9px 35px 9px 15px; font-size: 13px; line-height: 18px; border: 1px solid #2D3393; background-color:#fff; border-radius: 30px; cursor: pointer; position: relative;}
.add-remove-columns span::after{content: ''; position: absolute; top: 17px; right: 15px; border-top: 5px solid #2D3393; border-left: 5px solid transparent; border-right: 5px solid transparent;}
.add-remove-columns span:hover::after{border-top-color: #fff;}
.add-remove-columns span.active::after{border-top-color: #fff; transform: rotate(180deg);}
.add-remove-columns span:hover, .add-remove-columns span.active{background-color: #2D3393; color: #fff;}
.add-remove-columns ul{width: 250px; margin: 0; padding: 7px 0; background-color: #fff; border-radius: 10px; position: absolute; top: 38px; right: 0; border: 1px solid #eee; display: none;max-height: 350px;overflow: auto;}
.add-remove-columns ul li{list-style: none; font-size: 13px; line-height: 18px; color: #333; border-bottom: 1px solid #f9f9f9; cursor: pointer; position: relative;}
.add-remove-columns ul li:hover{background-color: #f9f9f9;}
.add-remove-columns ul li::before{content: ''; position: absolute; top: 50%; left: 10px; transform: translate(0, -50%); width: 10px; height: 10px; border: 1px solid #333; background-color: #2D3393; border-color: #2D3393;}
.add-remove-columns ul li.active::before{background-color: transparent; border-color: #333;}
.add-remove-columns ul li::after{content: ''; position: absolute; top: 14px; left: 13px; width: 6px; height: 5px; background: url('.././img/check-icn.svg') no-repeat left top; opacity: 1;}
.add-remove-columns ul li.active::after{opacity: 0;}
.add-remove-columns ul li a{display: block;}
.add-remove-columns ul li a em{padding: 7px 10px 7px 30px; display: block; font-style: normal; position: relative; z-index: 2;}


/* New remove column and export */
.irc-add-remove-columns{}