
.view-btn{text-decoration: none; font-weight: 500; font-size: 11px; line-height: 12px; color: #A5A5A5; background-color: #E2E2E2; padding: 5px 20px 4px; display: inline-block; border-radius: 20px;}
.view-btn:hover{background-color: #2D3393; color: #fff;}
.green{color: #009F06;}
.yellow{color: #DEC500;}
.red{color: #FF0000;}
.blue{color: #0011ff;}

.text-center{text-align: center;}
.attempt-popup{padding: 30px; box-sizing: border-box; background-color: #fff; border-radius: 15px; width: 400px; position: fixed; top: 50%; left: 50%; z-index: 99999; transform: translate(-50%, -50%); display: none;}
.attempt-popup p{font-size: 15px; line-height: 24px; margin: 0 0 15px; color: #000; text-align: center;}
.attempt-popup .text-center{margin-top: 50px;}

.fixdate{cursor: pointer;}
.fixdate-2nd-btn{display: none; margin-bottom: 30px; padding-top: 50px; border-top: 1px solid #ddd;}
.fixdate-2nd-btn a{margin: 0 10px; font-size: 12px; line-height: 16px; color: #fff; text-decoration: none; border: none; padding: 11px 35px; background-color: #2D3393; border: 1px solid #2D3393; border-radius: 30px; cursor: pointer;}
.fixdate-2nd{cursor: pointer;}
.fixdate-popup{padding: 30px; box-sizing: border-box; background-color: #fff; border-radius: 15px; width: 500px; position: fixed; top: 50%; left: 50%; z-index: 99999; transform: translate(-50%, -50%); display: none;}
.fixdate-popup .form-section{display: flex; flex-wrap: wrap; margin: 0 -10px;}
.fixdate-popup .form-section .form-block{width: calc(50% - 20px); margin: 0 10px;}
.fixdate-popup .form-section .form-block h5{font-weight: 500; margin: 0 0 10px; color: #555; text-transform: uppercase; font-size: 12px; line-height: 14px;}
.fixdate-popup .form-section .form-block input[type="date"], .fixdate-popup .form-section .form-block select{font-family: 'Roboto', sans-serif; width: 100%; background: #F7F7F7; border: 1px solid #D0D0D0; border-radius: 7px; color: #4D4D4D; padding: 11px 15px; font-size: 13px; line-height: 18px; outline: none; box-sizing: border-box;}
.fixdate-popup .form-section .form-block input[type="time"], .fixdate-popup .form-section .form-block select{font-family: 'Roboto', sans-serif; width: 100%; background: #F7F7F7; border: 1px solid #D0D0D0; border-radius: 7px; color: #4D4D4D; padding: 11px 15px; font-size: 13px; line-height: 18px; outline: none; box-sizing: border-box;}
.fixdate-popup p{font-size: 15px; line-height: 24px; margin: 0 0 15px; color: #000; text-align: center;}
.fixdate-popup h2{font-size: 24px; line-height: 30px; font-weight: 500; margin: 0 0 50px; color: #2D3393; text-align: center;}
.fixdate-popup .text-center{margin-top: 50px;}

.communications-popup{padding: 30px; box-sizing: border-box; background-color: #fff; border-radius: 15px; width: 780px; position: fixed; top: 50%; left: 50%; z-index: 99999; transform: translate(-50%, -50%); display: none;}
.communications-popup h3{margin: 0 0 30px; text-align: center; font-weight: 500; font-size: 24px; line-height: 32px; color: #000;}
.communications-popup .form-section{display: flex; flex-wrap: wrap; margin: 0 -10px;}
.communications-popup .form-section .form-block{width: calc(33.33% - 20px); margin: 0 10px 20px;}
.communications-popup .form-section .form-block input[type="text"], .communications-popup .form-section .form-block input[type="email"], .communications-popup .form-section .form-block input[type="number"], .communications-popup .form-section .form-block select{width: 100%; box-sizing: border-box; background-color: #F7F7F7; border: 1px solid #D0D0D0; border-radius: 7px; padding: 11px 15px; font-weight: 400; font-size: 13px; line-height: 18px; color: #333;}
.form-button{display: flex; justify-content: center; align-items: center; margin-top: 30px; width: 100%;}

textarea#addressarea {
    width: auto;
    background: #F7F7F7;
    border: 1px solid #D0D0D0;
    border-radius: 7px;
    color: #4D4D4D;
    padding: 11px 15px;
    font-size: 13px;
    line-height: 18px;
    outline: none;
    box-sizing: border-box;
    margin-top: 10px;
}

.blk-bg{background: rgba(0,0,0,0.8); position: fixed; top: 0; left: 0; z-index: 9999 !important; width: 100%; height: 100%; display: none;}