@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  background-color: #ebebeb;
}

/* left panel */
.left-panel {
    position: fixed;
    top: 0;
    left: 0;
    width: 275px;
    height: 100%;
    /* overflow-y: scroll; */
	 -ms-overflow-style: none;
    scrollbar-width: none;
    background-color: #2d3392;
    z-index: 5;
  }
  
  .left-panel .logo {
    padding: 30px 0px 60px 0px;
    margin-left: 50px;
  }
  
  .left-panel ul {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    width: 100%;
    margin: 0;
    padding: 0 0 0 30px;
    box-sizing: border-box;
  }
  
  .left-panel ul li {
    list-style: none;
  }
  
  .left-panel ul li a {
      text-decoration: none;
      display: flex;
      flex-wrap: wrap;
      color: #fff;
      padding: 20px;
      font-size: 17px;
      line-height: 16px;
      position: relative;
      opacity: 0.5;
  }
  
  .left-panel ul li a:hover, .left-panel ul li a.active {
      opacity: 1;
  }
  
  .left-panel ul li a img {
      width: 15px;
      margin-right: 10px;
  }
  
  .left-panel ul li ul {
      padding-left: 20px;
      margin-top: -12px;
      display: none;
  }
  
  .left-panel ul li.open ul {
    display: block;
  }
  
  .left-panel ul li ul li a {
      font-size: 14px;
      line-height: 16px;
      padding: 8px 20px 8px 25px;
  }
  /* left panel */

  .right-panel {
    padding-left: 400px;
    padding-right: 50px;
    position: relative;
    text-align: center;
  }

  .form {
    margin: 80px auto 25px;
    max-width: 470px;
    width: 52%;
    background-color: #fff;
    box-shadow: 0px 3px 10px rgba(0,0,0,0.1);
    border-radius: 10px;
    padding: 29px;
    box-sizing: border-box;
  }

  .form h1 {
    font-size: 30px;
    line-height: 36px;
    color: #000;
    text-align: center;
    margin: 0 0 30px;
    font-weight: 700;
  }

  .form__block {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 12px;
  }

  .form__block input[type="text"],
  .form__block input[type="number"],
  .form__block input[type="password"],
  .form__block input[type="email"] {
    padding: 15px 40px 15px 24px;
    box-sizing: border-box;
    border: 2px solid #EFEFEF;
    border-radius: 10px;
    width: 100%;
    font-size: 15px;
    line-height: 2px;
    font-weight: 400;
    outline: none;
  }

  .form__block--half input[type="text"],
  .form__block--half input[type="number"],
  .form__block--half input[type="password"],
  .form__block--half input[type="email"] {
    width: 50%;
    border-radius: 0 10px 10px 0;
  }

  .form__text{width: 50%; background-color: #EBEBEB; display: flex; justify-content: center; align-items: center; border-radius: 10px 0 0 10px;}
  .form__button--submit{background-color: #2D3392; border-radius: 10px; width: 100%; padding: 15px; font-size: 16px; line-height: 20px; font-weight: 700; text-align: center; box-sizing: border-box; border: none; color: #fff; display: flex; justify-content: center; align-items: center; margin-top: 20px;}
  .form__button--submit:hover{cursor: pointer !important;}
  .form__button--submit img{margin-right: 10px;}

  #candidate-access {
    background: url('../img/user-icn.svg') no-repeat 96% center #fff;
  }

  #admin-mspin {
    background: url('../img/user-icn.svg') no-repeat 96% center #fff;
  }

  #admin-password {
    background: url('../img/password-icn.svg') no-repeat 96% center #fff;
  }
  .terms-section {
    max-width: 250px;
    margin: 0 auto 30px;
  }
  .terms-section ul {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
  }
  .terms-section ul li {
    list-style: none;
    position: relative;
  }
  .terms-section a {
    font-size: 13px;
    line-height: 18px;
    text-decoration: none;
    color: #999;
  }
  .terms-section li::after{
    content: '';
    width: 5px;
    height: 5px;
    border-radius: 5px;
    background-color: #999;
    position: absolute;
    top: 50%;
    right: -35px;
    transform: translate(0, -50%);
  }
  .terms-section li:last-child::after {
    display: none;
  }
  
  .left-panel p {
  position: absolute;
  bottom: 0;
  padding: 30px;
  color: #fff;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  margin: 0;
  text-align: center;
  width: 100%;
  box-sizing: border-box;
}

.left-panel p span {
  display: block;
}
h1.LOGO {
  margin-bottom: 0px !important;
}
.menu-left {
  width: 40px;
  height: 40px;
  position: fixed;
  top: 21px;
  left: 250px;
  cursor: pointer;
  border-radius: 0 20px 20px 0;
  background: url('../img/menu-left-arrow.svg') no-repeat right center #2D3392;
  transition: all 0.5s;
}
.menu-left.left-moved {
  width: 160px;
  left: -127px;
  background: url('../img/menu-right-arrow.svg') no-repeat right center #2D3392;
  transition: all 0.5s;
}

.mob-logo{display: none;}
/* @media (max-width: 540px){
  .mob-logo{display: block;}
  .mob-cal .form__text{width: 40% !important;}
  .mob-cal .mob-result{width: 60% !important;padding: 15px 10px 15px 10px !important;}
  .showSweetAlert {
    margin: 0px!important;
    left: 50% !important;
    top: 50% !important;
    width: 75%;
    max-width: 355px;
    transform: translateX(-50%);
}
} */

@media (max-width: 767px) {
    .right-panel {
        padding: 0 20px;
    }
    .login-head {
        margin: 20px 0;
    }
    .right-panel .form {
        margin: 0 0 20px;
        width: 100%;
    }
}