@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

body{
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}
.pp-header {
    background-color: #2d3392;
    padding: 15px;
    margin-bottom: 40px;
}
.pp-container {
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}
.pp-container h1 {
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    margin: 0 0 40px;
}
.pp-container p {
    font-size: 15px;
    line-height: 24px;
    text-align: left;
    margin: 0 0 20px;
}

.pp-container ul, .pp-container ol {
    margin: 10px 0 30px;
}

.pp-container ul li, .pp-container ol li {
    font-size: 15px;
    line-height: 24px;
    margin: 0 0 10px;
}