@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
body{ margin: 0; padding: 0; font-family: 'Inter', sans-serif; font-weight: 400; background: #F8F8F8;}
.header{background: #2d3392; padding: 1px 40px; border-bottom: 1px solid #D9D9D9; box-shadow: 0px 3px 6px #F2F2F2;}
.container{max-width: 1110px; width: 90%; margin: 0 auto;}
h1{font-weight: 600; font-size: 25px; line-height: 30px; margin: 30px 0; text-align: center; color: #2D3393;}
h3{font-weight: 600; font-size: 20px; line-height: 24px; margin: 0px 0 20px; color: #000;}
ol, ul{margin: 0 0 0 18px; padding: 0;}
ol li, ul li{font-size: 15px; line-height: 24px; margin: 0 0 15px; color: #000;}
ol li a, ul li a{text-decoration: none; color: #2D3393;}
.btn{font-family:'Inter', sans-serif; font-size: 15px; line-height: 15px; padding: 12px 35px; min-width: 110px; box-sizing: border-box; color: #777777; border: 1px solid #777777; border-radius: 30px; outline: none; text-decoration: none; display: inline-block; text-align: center; background: none; cursor: pointer;}
.btn:hover{color: #2D3393; border-color: #2D3393;}
.blue-btn{border-color: #2D3393; background: #2D3393; color: #fff !important;}
.btn:disabled{background: #2D3393;border-color: #2D3393; }
.gray-btn{text-decoration: none; display: inline-block; padding: 7px 15px; font-weight: 500; font-size: 13px; line-height: 16px; color: #808080; border-radius: 20px; border: 2px solid #808080; cursor: pointer; background: #fff;}
.action-section{text-align: center; margin-top: 100px;}
.margin-bottom-60{margin-bottom: 60px;}
.form{background: #fff; border-radius: 5px; border: 1px solid #E5E5E5; padding: 30px; box-sizing: border-box;margin-bottom: 50px !important;}
/* .form .form-section{margin: 0 -15px; display: flex; flex-wrap: wrap;} */
.form .form-section{display: flex; flex-wrap: wrap;}
.form .form-section .form-block{margin: 0 15px 25px; width: calc(33.33% - 30px)}
.form .form-section h4{font-weight: 500; font-size: 15px; line-height: 20px; margin: 0 15px 10px; position: relative; color: #000;}
.form .form-section h5{font-weight: 500; font-size: 13px; line-height: 18px; margin: 0 0 9px; position: relative; color: #777777;}
.form .form-section h5 span{top: -3px; font-size: 13px; line-height: 18px; color: #f00;position: absolute;}
.form .form-section .form-block input[type="text"], .form .form-section .form-block input[type="email"], .form .form-section .form-block input[type="tel"], .form .form-section .form-block input[type="number"], .form .form-section .form-block input[type="date"], .form .form-section .form-block select{width: 100%; background: #F7F7F7; border: 1px solid #D0D0D0; border-radius: 7px; color: #4D4D4D; padding: 11px 15px; font-size: 15px;font-family: Arial !important; line-height: 18px; outline: none; box-sizing: border-box;}
.form .form-section .form-block.error h5{color: #f00 !important;}
/*.form .form-section .form-block.error p{color: #f00 !important; margin: 5px 0 0; font-size: 11px; line-height: 13px;}*/
.form .error {color: #f00 !important; margin: 5px 0 0; font-size: 11px; line-height: 13px;} 
.form .form-section .form-block.error input[type="text"], .form .form-section .form-block.error input[type="email"], .form .form-section .form-block.error input[type="tel"], .form .form-section .form-block.error input[type="number"], .form .form-section .form-block.error input[type="date"], .form .form-section .form-block.error select{border-color: #f00 !important;}
.form .form-section .form-block input[type="date"]{text-transform: uppercase;}
#birthDate{font-size: 13px !important; font-family: Arial !important;}
.form .form-section .form-block label{color: #4D4D4D; /*margin-right: 40px;*/ font-size: 13px; line-height: 18px;}
.imp-instr{text-align: end; color:red;}
.break-section{width: 100%;}
.work-exp, #others{display: none;}
.work-exp.active{display: block;}
.upload-section{padding: 20px 0; border-top: 1px solid #EBEBEB; display: flex; flex-wrap: wrap; align-items: center;}
.upload-section h5{font-weight: 500; font-size: 13px; line-height: 18px; margin: 0 0 9px; position: relative; color: #777777; width: 235px;}
.upload-section h5 span{top: -3px; font-size: 13px; line-height: 18px; color: #f00;}
.upload-section .upload-tnc{width: calc(100% - 235px - 390px);}
.upload-section p{color: #999999; font-size: 13px; line-height: 18px; margin: 0;}
.upload-section a{text-decoration: none; color: #2D3393; font-size: 13px; line-height: 18px;margin-left: 10px;width: 41px;text-align: center;}
.upload-input{background: none; padding: 0; border: none; display: flex; align-items: center; justify-content: flex-end; width: 390px;}
/* .upload-input{background: none; padding: 0; border: none; display: flex; align-items: center;width: 390px;} */
.file-upload{width: 212px; overflow: hidden;}
.file-upload .file-upload-select {display: flex; align-items: center; margin-right: 20px;cursor: pointer;}
.file-upload .file-upload-select .file-select-button {display: inline-block; padding: 7px 15px; background: #2D3393; color: #fff !important; font-style: normal; font-weight: 500; font-size: 12px; line-height: 15px;  margin-right: 8px; border-radius: 20px; cursor: pointer;}
.file-upload .file-upload-select .file-select-name {display: inline-block; color: #808080; font-style: normal; font-weight: 500; font-size: 12px; line-height: 15px; width: 82px; overflow: hidden;}
.file-upload .file-upload-select input[type="file"] {display: none;}

.upload-section .success-tnc, .upload-section .error-tnc{display: none;}
.upload-section.success p, .upload-section.error p{display: none;}
.upload-section.success .success-tnc, .upload-section.error .error-tnc{display: block; font-size: 13px; line-height: 20px; display: flex; align-items: center; font-style: italic;}
.upload-section.success h5, .upload-section.success .success-tnc{color: #3BA750;}
.upload-section.error h5, .upload-section.error .error-tnc{color: #f00;}
.success-tnc img, .error-tnc img{margin-right: 10px;}
/* .view-btn{margin-right: 15px;} */
.upload-section input[type="text"], .upload-section input[type="email"], .upload-section input[type="tel"], .upload-section input[type="number"], .upload-section input[type="date"], .upload-section select{width: 100%; background: #F7F7F7; border: 1px solid #D0D0D0; border-radius: 7px; color: #4D4D4D; padding: 11px 15px; font-size: 13px; line-height: 18px; outline: none; box-sizing: border-box; margin-bottom: 10px; max-width: 290px;}
#add-qualification{text-decoration: none; color: #2D3393; font-size: 13px; line-height: 18px; display: inline-block; position: relative; cursor: pointer;}

.form-btn{display: flex; justify-content: flex-end; padding: 40px 0 20px;}
.form-btn .btn{margin-left: 20px;background-color: #2d3392;color: #fff;}
.no-bor-mar-pad{border-top: none; margin-top: 0; padding-top: 0;}
/* #vewphoto{width: 41px;text-align: center;}
#vewrsm{width: 41px;text-align: center;} */
.form-btn label{font-size: 15px; line-height: 20px; color: #000; margin-left: 10px;}
/* Added by Vrushali */
input[type="text"]:disabled, input[type="email"]:disabled, input[type="number"]:disabled, input[type="date"]:disabled{
    background: #e4e4e4 !important;
    opacity: 0.7;
    cursor: no-drop;
}

/* @media (min-width: 540px) {
    .form .form-section .form-block label{margin-right: 0px !important;}
} */
@media (max-width: 767px){
.imp-instr{text-align:left; color:red;}

    h1{font-size: 20px; line-height: 30px;}
    .form-block{width: calc(100% - 30px) !important;}
    #others h5{display: none;}
    .upload-section h5, .upload-section .upload-tnc, .upload-input{width: 100%; margin-bottom: 15px;}
    .upload-input{margin-bottom: 0; flex-wrap: wrap; justify-content: flex-start;}
    .file-upload{width: 100%; margin-bottom: 10px;}
    .form-btn{justify-content: center;}
    .wtnc{flex-wrap: wrap;}
    .acc-tnc{margin-bottom: 10px;}
    .form .form-section .form-block label{margin-right: 0px !important;}

}

@media (min-width: 768px){
    .wtnc{justify-content: space-between; align-items: center;}
    #add-qualification{margin: 0px 0 0 235px; top: -20px;}
}

.licence-ertified, #others{display: none;}
.licence-ertified.active{display: block;}