/* .table-date{overflow-x: auto; border: 1px solid #E2E2E2; border-radius: 10px; margin: 60px 0;} */
.table-date{overflow-x: auto;border: 1px solid #E2E2E2; border-radius: 10px; margin: 60px 0;}
.table-date table{border-radius: 10px; overflow: hidden; position: relative;}
.table-date table tr:first-child{background: #F4F7FB;}
.table-date table tr{background: #F4F7FB;}
.table-date table tr:nth-child(2n){background: #fff;}
.table-date table tr th{background: #2D3393; position: relative;}
.table-date table tr th span{display: flex; justify-content: space-between; margin: 0 5px; color: #333333; margin: 16px 5px; position: relative;}
.table-date table tr thead span{border: none !important;}
.table-date ::placeholder {color: #fff; opacity: 1;}
.table-date :-ms-input-placeholder {color: #fff;}
.table-date ::-ms-input-placeholder {color: #fff;}
.table-date table tr th span em, .table-date table tr th input[type="text"], .table-date table tfoot tr input{font-style: normal; overflow: hidden; width: 100%; box-sizing: border-box; text-align: left; color: #fff; background: none; outline: none;  padding: 5px 7px; border: 1px solid #4349A8; border-radius: 5px; font-weight: 500; font-size: 12px; line-height: 12px; display: block; height: 26px;}
.table-date table tr th span img{position: absolute; top: 0px; right: 0px; margin-left: 5px; filter: brightness(0) invert(1); z-index: 2; cursor: pointer;}
.table-date table tr th input[type="text"]{position: absolute; top: -42px; left: 5px; width: calc(100% - 25px);}
.table-date table tr th:first-child span{margin-left: 10px;}
.table-date table tr th:last-child span{margin-right: 10px;}
.table-date table tr td{padding: 20px 10px; text-align: center; font-size: 13px; line-height: 12px; color: #333333; font-weight: 500; border-bottom: 1px solid #F4F7FB; border-right: 1px solid #D6DFEB;}
.table-date table tr td .btn{font-size: 11px; line-height: 14px; padding: 3px 12px 4px; color: #A5A5A5; background: #E2E2E2; display: inline-block; text-decoration: none; border-radius: 10px;}
.table-date table tr td .btn.active{background: #45B058; color: #fff;}
.dataTables_length, #data_filter, #data_info, #data_paginate{display: none !important;}
.table-date table tr td:nth-child(2), .table-date table tr td:nth-child(3), .table-date table tr td:nth-child(4), .table-date table tr td:nth-child(5), .table-date table tr td:nth-child(6), .table-date table tr td:nth-child(12){text-align: left;}
.table-date table{width: 1125px;}
.table-date table tr th:nth-child(1){width: 65px !important;}
.table-date table tr th:nth-child(2){width: 155px !important;}
.table-date table tr th:nth-child(3){width: 180px !important;}
.table-date table tr th:nth-child(4){width: 130px !important;}
.table-date table tr th:nth-child(5){width: 150px !important;}
.table-date table tr th:nth-child(6){width: 120px !important;}
.table-date table tr th:nth-child(7){width: 30px !important;}
.table-date table tr th:nth-child(8){width: 30px !important;}

.other-exp h2{margin: 0 0 25px; font-size: 24px; font-weight: 500; line-height: 32px; color: #000;}
.other-exp-section{margin: 0 -10px; display: flex; flex-wrap: wrap;}
.other-exp-section .other-exp-block{width: calc(23.33% - 20px); margin: 0 10px; display: flex; flex-wrap: wrap;}
.other-exp-section .other-exp-block h4{margin: 0; width: calc(100% - 70px); background-color: #2D3393; font-weight: 500; font-size: 13px; line-height: 18px; color: #fff; border-radius: 5px 0 0 5px; border: 1px solid #2D3393; box-sizing: border-box; padding: 15px;}
.other-exp-section .other-exp-block h5{margin: 0; width: 70px; background-color: #F4F7FB; font-weight: 500; font-size: 13px; line-height: 18px; color: #333333; border-radius: 0 5px 5px 0; border: 1px solid #E5E5E5; box-sizing: border-box; text-align: center; padding: 15px;}